html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;                                 /* Always show scrollbar */
}

body {
    margin: 0;                                          /* Remove default 8px margin */
}

h2, h3, h4, h5, h6, p {
    margin-block-start: 0;                              /* Remove default margin-block-start */
    margin-block-end: 0;                                /* Remove default margin-block-end */
}

h1 {
    text-align: center;
    margin: 10% 0;
}

main {
    padding: 0 10%;
}

header {
    position: sticky;                                    /* Header is always shown on top of the page */
    top: 0;
    z-index: 99;
    background-color: #153d63;
    /*display: flex;*/
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
}

#prenom-nom {
    grid-column: 1;
    font-size: xx-large;
    margin-left: 1%;
    color: #ffffff;
    text-decoration: none;
}

#top-nav {
    grid-column: 2;
}

#top-nav ul {
    list-style-type: none;                              /* Remove default disc list-style-type */
    margin-block-start: 0;                              /* Remove default 1em margin-block-start */
    margin-block-end: 0;                                /* Remove default 1em margin-block-end */
    padding-inline-start: 0;                            /* Remove default 40px padding-inline-start */
    display: flex;
}

#top-nav ul li a {
    text-decoration: none;                              /* Remove default underline text-decoration */
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    transition: color 0.2s;
    border-top: 0.2rem solid #153d63;
    border-bottom: 0.2rem solid #153d63;
}

#top-nav ul li a:hover {
    color: #4c94d8;
}

#top-nav ul li a.active {
    border-bottom-color: #4c94d8;
}

.name-and-technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.separator {
    margin: 0 5px;
}

.technology-small-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px;
}

.technology-small-card img {
    height: 40px;
    cursor: help;
}

.technology-big-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 1%;
    padding: 0.75% 2.25%;
    display: inline-flex;
    align-items: center;
}

.technology-big-card img {
    height: 25px;
    margin-right: 5px;
}

footer {
    color: #ffffff;
    background-color: #153d63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    margin-top: 1%;
}

#footer-links img {
    height: 3rem;
    padding-left: 1rem;
}

.skill-card {
    /*background-color: #e0e0e0;*/
    display: inline-block;
}

.link-card {
    background-color: #153d63;
    border-radius: 10px;
    display: inline-flex;
    width: 20%;
    transition: background-color 0.2s;
    margin-right: 1%;
    padding: 0.5%;
}

.link-card a {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}

.link-card:hover {
    background-color: #4c94d8;
}

.project-card, .skill-card, .job-card, .qualification-card, .certification-card {
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    background-color: #f0f0f0;
}

.project-category-card, .skill-category-card, .parcours-category-card {
    margin-top: 4%;
}

.technology-category-card {
    margin: 2% 1% 0;
    width: 23%;
}

.project-card p {
    margin: 1% 0;
}

#langages-et-logiciels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technology-category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-category-card > h3 {
    text-align: center;
    margin-bottom: 1%;
}

.technology-category-card > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#index-skill-categories {
    display: flex;
    justify-content: space-around;
}

.index-skill-category, .index-project {
    /*background-color: #f0f0f0;*/
    border-radius: 10px;
    padding: 1%;
    margin: 3% 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    animation: fadein 1s;
    width: 25%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#index-projects {
    display: flex;
    justify-content: space-around;
}

.index-link {
    background-color: #153d63;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: background-color 0.2s;
    border-radius: 20px;
    width: 20%;
    padding: 1%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
}

.index-link:hover {
    background-color: #4c94d8;
}

#index>h1 {
    margin: 10% 0;
}

#index>h2 {
    margin-top: 5%;
}

#index>p {
    margin: 1% 0;
}

.index-languages {
    display: flex;
    flex-wrap: wrap;
}

.index-language {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000000;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 1%;
    padding: 0.75% 2.25%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

a.index-language:hover {
    background-color: #e0e0e0;
}

.index-skill-category {
    display: flex;
    flex-direction: column;
}

.index-skill-category p {
    margin: 5% 0;
    flex: 1;
}

.pending-footer {
    background-color: #153d63;
    height: 3.25rem;
}

.pending-header {
    background-color: #153d63;
    height: 3.25rem;
}

.project-category {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    width: 46%;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    width: 100%;
    position: relative;
    margin: 5% 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #153d63;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 50px;
}

/* Container around content */
.container {
    width: 40%;
    position: relative;
}

/* The circles on the timeline */
/*.container::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    right: -17px;*/
/*    background-color: white;*/
/*    border: 4px solid #FF9F55;*/
/*    top: 15px;*/
/*    border-radius: 50%;*/
/*    z-index: 1;*/
/*}*/

/* Place the container to the left */
.left {
    left: calc(10% - 10px);
}

/* Place the container to the right */
.right {
    left: calc(50% + 10px);
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    right: -10px;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    left: -10px;
}

/* Fix the circle for containers on the right side */
/*.right::after {*/
/*    left: -16px;*/
/*}*/

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    position: relative;
    border-radius: 6px;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #top-nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        padding: 0 2%;
    }

    #index-skill-categories, #index-projects {
        flex-wrap: wrap;
    }

    .index-skill-category, .index-project {
        width: auto;
    }

    .index-link {
        width: 90%;
    }

    .technology-category-card {
        width: 100%;
    }

    .project-card {
        width: 100%;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 2%;
    }

    /* Full-width containers */
    .container {
        width: 93%;
        margin-bottom: 5%;
    }

    /* Make sure that all arrows are pointing leftwards */
    /*.container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }*/

    .left::before, .right::before {
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
        left: -8px;
    }

    /* Make sure all circles are at the same spot */
    /*.left::after, .right::after {
        left: 15px;
    }*/

    /* Make all right containers behave like the left ones */
    .left, .right {
        left: 5%;
    }
}