html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;                                 /* Always show scrollbar */
}

body {
    margin: 0;                                          /* Remove default 8px margin */
}

main {
    margin-top: 100px;                                  /* Margin so main isn't behind header */
    padding: 0 10%;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;                              /* Remove default margin-block-start */
    margin-block-end: 0;                                /* Remove default margin-block-end */
}

header {
    position: fixed;                                    /* Header is always shown on top of the page */
    top: 0;
    width: 100%;
    background-color: #153d63;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prenom-nom {
    position: absolute;
    top: 0;
    left: 10px;
    color: #ffffff;
}

#top-nav ul {
    list-style-type: none;                              /* Remove default disc list-style-type */
    margin-block-start: 0;                              /* Remove default 1em margin-block-start */
    margin-block-end: 0;                                /* Remove default 1em margin-block-end */
    padding-inline-start: 0;                            /* Remove default 40px padding-inline-start */
    display: flex;
}

#top-nav ul li a {
    text-decoration: none;                              /* Remove default underline text-decoration */
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    transition: color 0.2s;
    border-top: 0.2rem solid #153d63;
    border-bottom: 0.2rem solid #153d63;
}

#top-nav ul li a:hover {
    color: #4c94d8;
}

#top-nav ul li a.active {
    border-bottom-color: #4c94d8;
}

.name-and-technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.separator {
    margin: 0 5px;
}

.technology-small-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px;
}

.technology-small-card img {
    height: 40px;
    cursor: help;
}

.technology-big-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 0.5%;
    padding: 0.5%;
    display: inline-flex;
    align-items: center;
    width: 10rem;
}

.technology-big-card img {
    height: 30px;
    margin-right: 15px;
}

.technology-big-card p {
    margin: 0;
}

footer {
    color: #ffffff;
    background-color: #153d63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
}

#footer-links img {
    height: 3rem;
    padding-left: 1rem;
}

.skill-card {
    /*background-color: #e0e0e0;*/
    display: inline-block;
}

.link-card {
    background-color: #153d63;
    border-radius: 10px;
    display: inline-flex;
    width: 20%;
    transition: background-color 0.2s;
    margin-right: 1%;
    padding: 0.5%;
}

.link-card a {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}

.link-card:hover {
    background-color: #4c94d8;
}

.project-card, .skill-card, .job-card, .qualification-card, .certification-card {
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    background-color: #f0f0f0;
}

.project-category-card, .skill-category-card, .parcours-category-card {
    margin-top: 4%;
}

.technology-category-card {
    margin: 2% 1% 0;
}

.project-card p {
    margin: 1% 0;
}