html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 1%;
}

header {
    height: 46px;
}

#prenom-nom {
    float: left;
}

#top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #153d63;
}

#top-nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    float: right;
    padding: 14px 16px;
    transition: border-bottom-color 0.5s;
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
}

#top-nav ul li a:hover {
    border-bottom-color: #4c94d8;
}

#top-nav ul li a.active {
    background-color: #04AA6D;
}

h1 {
    text-align: center;
}

.project-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 5% 10%;
    padding: 1%;
}

.technology-small-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 0 1%;
    padding: 1%;
}

.technology-small-card img {
    height: 50px;
    cursor: help;
}

.technology-big-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
}

.technology-big-card img {
    height: 50px;
}

.technologies {
    display: flex;
    align-items: center;
}

.separator {
    margin: 0 10px;
}

footer {
    color: #ffffff;
    background-color: #153d63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
}

#footer-links img {
    height: 3rem;
    padding-left: 1rem;
}

.skill-category-title {
    margin: 1% 10%;
}

.skill-category {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 0 10%;
    padding: 1%;
}

.skill-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 1%;
    display: inline-block;
}

.link-card {
    background-color: #153d63;
    border-radius: 10px;
    display: inline-flex;
    width: 20%;
    transition: background-color 0.2s;
    margin-right: 1%;
}

.link-card a {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}

.link-card:hover {
    background-color: #4c94d8;
}

.job-card, .qualification-card, .certification-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1%;
    margin: 1% auto;
    width: 50%;
}