html {
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: scroll; /* Always show scrollbar */
}

body {
	margin: 0; /* Remove default 8px margin */
}

h2,
h3,
h4,
h5,
h6,
p {
	margin-block-start: 0; /* Remove default margin-block-start */
	margin-block-end: 0; /* Remove default margin-block-end */
}

h1 {
	text-align: center;
	margin: 10% 0;
}
